apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
spec:
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
      - name: kibana
        image: divante/vue-storefront-kibana:5.6.9
        env:
        - name: ELASTICSEARCH_URL
          value: '"http://elasticsearch:9200"'
        ports:
        - containerPort: 5601
